.jumbotron {
    width: 900px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 2rem;
    background-color:darkgrey;
    border-radius: .3rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}