<div class="jumbotron">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4">Cadastro de cadastros de pessoas juridicas</h1>
      <p class="lead">Para efetuar o cadastro de uma nova pessoa juridica, insira o nome(fantasia) e o CNPJ </p>
      <div class="col-12">
        <hr class="my-4">
      </div>
    </div>
  </div>

  <form name="clienteJuridicoForm">
    <div class="container">
      <input class="form-control form-control-lg" type="text" ng-model="clienteJuridico.nome" placeholder="Nome(fantasia)..." ng-required="true"
        ng-minlength="3">

      <input class="form-control form-control-lg" type="text" ng-model="clienteJuridico.cnpj" placeholder="CNPJ..." ng-required="true"
        ng-minlength="3">
    </div>
  </form>

  <div class="col-12">
    <hr class="my-4">
  </div>

  <div class="button">
    <button type="button" class="btn btn-info" ng-click="$ctrl.createLegalClient(clienteJuridico)">Cadastrar pessoa
      Juridica</button>
  </div>

</div>