.align-image{
}

.carousel-item {
  img {
    width:550px;
    height:300px;
    // object-fit: cover;
    // image-resolution: 300dpi;
    // min-height: 18em;
    // max-height: 25rem;
  }
}

.cards {
  .col-4 {
    padding: 0;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }

  .card {
    img {
      object-fit: cover;
      min-height: 20em;
    }
  }
}