<div class="jumbotron">
  <h1 class="display-4">Operação de transferencia</h1>
  <p class="lead">Para realizar um transferencia, digite a conta de onde será retirado o dinheiro, a conta que irá
    receber o dinheiro e a quantia que será transferida</p>
    <div class="col">
      <hr class="my-4">
    </div>  


  <form name="transferenciaForm">
    <div class="container">
      <input class="form-control form-control-lg" type="number" ng-model="transferencia.idEnviar"
        placeholder="Informe o ID da conta que irá enviar o dinheiro..." ng-required="true">
      <input class="form-control form-control-lg" type="number" ng-model="transferencia.idReceber"
        placeholder="Informe o ID da conta que irá receber o dinheiro..." ng-required="true">

      <input class="form-control form-control-lg" type="number" ng-model="transferencia.valor"
        placeholder="Informe o valor do transferencia" ng-required="true">

  </form>

  <hr class="my-4">
  <p>Certifiquece de conferir a conta que irá ser realizada o transferencia</p>
  <p class="lead">
    <button class="btn btn-primary btn-lg" role="button" ng-click="$ctrl.onTransfer(transferencia)" >Transferir</button>
  </p>
</div>