<div class="jumbotron">
  <div class="row">
    <div class="col">
      <h1 class="display-4">Criação de Conta Poupança </h1>
      <p class="lead">Para realizar o cadastro de uma nova conta Poupança, insira o ID do cadastro da pessoa Fisica</p>
      <div class="col">
        <hr>
      </div>
    </div>
  </div>

  <form name="contaPoupancaForm">
    <div class="container">

      <input class="form-control form-control-lg" type="text" ng-model="contaFisica.contaFisica.id" placeholder="Informe o ID..."
        ng-required="true">

  </form>

  <hr>
  
  <div class="button">
    <button type="button" class="btn btn-info" ng-click="$ctrl.createSavingAccount(contaFisica)">Criar conta
      Fisica</button>
  </div>
</div>